* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #4e596f;
}

.header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #202124;
    color: #ffffff;
    font-size: 50px;
    justify-content: left;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9), 0 0px 2px rgba(0, 0, 0, 0.9);
    position: relative;
}

.header img {
    height: 50px;
    width: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

.menu {
    width: 250px;
    height: 100vh;
    background-color: #f54864;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.menu h1 {
    color: #ffffff;
    font-weight: 200;
}

.add-proj img {
    height: 15px;
    width: 15px;
    margin-right: 15px;
    transition: all 0.25s ease-in-out;
}

.projectsDiv {
    width: 100%;
}

.add-proj {
    background-color: #202124;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 15px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.add-proj:hover {
    transform: scale(1.05);
}

.add-proj:hover img {
    transform: rotate(90deg);
}

.footer {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: #202124;
    color: #ffffff;
    box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.9);
}

.footer img {
    margin-left: 5px;
}

.footer img:hover {
    height: 30px;
    width: 30px;
}
